.DS_Store
*.bak
*.log
.netrwhist
nvim/.config/nvim/lazy-lock.json
__pycache__
mc/.config/mc/panels.ini
catppuccin-mc/.local/share/mc/history
fish/.config/fish/fish_variables
nvim/.config/nvim/lazyvim.json
