.DS_Store
*.bak
*.log
.netrwhist
nvim/.config/nvim/lazy-lock.json
__pycache__
mc/.config/mc/panels.ini
catppuccin-mc/.local/share/mc/history
fish/.config/fish/fish_variables
fabric/.config/fabric/.env
fabric/.config/fabric/unique_patterns.txt
scripts/.config/scripts/.env
nvim/.config/nvim/lazyvim.json
