# https://starship.rs/presets/pure-preset
# Emulates the look and behaviour of Pure

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$python\
$character"""
command_timeout = 5000

[directory]
style = "blue"
fish_style_pwd_dir_length = 1
truncation_length = 3

[directory.substitutions]
"/Library/CloudStorage/OneDrive-SharedLibraries-JasonElectronicsPteLtd/Bid Proposal - Documents/@docs" = "@docs"
"/Library/CloudStorage/OneDrive-SharedLibraries-JasonElectronicsPteLtd/Bid Proposal - Documents/@rfqs" = "@rfqs"
"/Library/CloudStorage/OneDrive-SharedLibraries-JasonElectronicsPteLtd/Bid Proposal - Documents/@handover" = "@handover"
"/Library/CloudStorage/OneDrive-SharedLibraries-JasonElectronicsPteLtd/Bid Proposal - Documents/@costing" = "@costing"
"Library/Mobile Documents/iCloud~md~obsidian/Documents/dragon" = "dragon"
"Library/Mobile Documents/iCloud~md~obsidian/Documents/drafts" = "drafts"
"Library/Mobile Documents/iCloud~md~obsidian/Documents/inbox" = "inbox"
"Library/Mobile Documents/iCloud~md~obsidian/Documents/team" = "team"
"Library/CloudStorage/OneDrive-SharedLibraries-JasonElectronicsPteLtd" = "~SP"
"~/OneDrive - Jason Electronics Pte Ltd" = "~OD"
"Bid Proposal - Documents" = "BP"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
format = "[$virtualenv]($style) "
style = "bright-black"
